@media (max-width: 1200px) {
    .header {
        bottom: 0;
        text-align: center;
    }

    .menu-content,
    .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }

    .menu-content {
        height: 100vh;
    }
    
    .header {
        display: none;
    }

    .close-menu-label::after {
        content: '≡';
        position: fixed;
        z-index: 2;
        top: 1rem;
        right: 2rem;
        background: var(--primary-color);
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }
    
    .close-menu:checked~.menu {
        display: block;
    }
    
    .close-menu:checked~.close-menu-label::after {
        content: '×';
    }
}
