* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

main section ul li {
    list-style: none;
}

.produtos {
    margin: 0;
}

.produtos__lista {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.produtos__lista__item {
    flex: 0 1 calc(30%-20px);
    max-width: 20rem;
    margin: 1rem;
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-sizing: content-box;
}

.produtos__lista__item {
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
}

.produtos__lista__item__conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    font-style: normal;
}

.produtos__lista__item__conteudo__informacoes {
    text-align: center;
}

.produtos__lista__item__conteudo__informacoes h3 {
    margin: 1rem;
    font-size: 2.5rem;
}

.produtos__lista__item__conteudo__informacoes p {
    margin: 1rem;
    font-size: 2rem;
}

.produtos__lista__item__conteudo__informacoes h4 {
    margin: 1rem;
    font-size: 3rem;
    white-space: wrap;
}

.produtos__lista__item__conteudo__informacoes s {
    font-size: 2rem;
    color: black;
    margin-left: 0.5rem;
    white-space: nowrap;
}

footer {
    background-color: var(--gray-color);
    text-align: center;
    padding: 10px 0;
    font-size: 1.5rem;
}

.close-menu {
    display: none;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
}

.back-to-top {
    position: fixed;
    bottom: 4.5rem;
    right: 0.5rem;
    background: var(--white-color);
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--primary-color);
    border: 0.1rem solid var(--primary-color);
    transform: rotate(-90deg);
    text-decoration: none;
}

.main-bg {
    background-image: url('../assets/main-bg.svg');
    background-size: cover;
    background-position: center center;
}