:root {
    --primary-color: black;
    --secondary-color: crimson;
    --white-color: #FFFFFF;
    --light-gray-color: #EEEEEE;
    --gray-color: #cbcaca;
    --no-color: #00000000;
    --gap: 3rem;
}